* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: ivory;
}

.nav {
    display: inline-block;
}

ul #navlist {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.navli {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(224, 99, 45);
    color: white;
}

#usertab {
    position: fixed;
    right: 0;
}

main {
    background-color: ivory;
}

#login-form {
    position: fixed;
    top: 150px;
    left: 30%;
    justify-items: center;
    background-color: rgb(243,  173, 80);
}

.field {
    padding: 10px;
}

button {
    size: 150%;
}

.popup {
    visibility: hidden;
    z-index: 1;
    text-align: center;
}

.popup .show {
    visibility: visible;
}