.new-invitation__controls {
  margin: auto;
  width: 45rem;
  padding: 2rem 4rem;
}

/*.new-invitation__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  padding-left: 0.5rem;
}

.new-invitation__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-invitation__control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-invitation__control button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #d69641;
  background-color: #ffb24d;
  color: white;
  border-radius: 12px;
  margin-left: 8rem;
  margin-top: 1.5rem;
}

.new-invitation__control button:hover,
.new-invitation__control button:active {
  background-color: #ff8800;
  border-color: #da7400;
}
*/
